    <div class="edit-delete-contact container" ng-controller="editController">
        <table class="table" ng-if="!editContact">
            <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Ph. Number</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="cont in allContacts" ng-if='cont.status=="active"'>
                    <th scope="row">{{$index}}</th>
                    <td>{{cont.firstName}}</td>
                    <td>{{cont.lastName}}</td>
                    <td>{{cont.email}}</td>
                    <td>{{cont.phNumber}}</td>
                    <td><button ng-click=edit(cont) class="btn btn-primary" href="#/add">Edit</button><button class="btn btn-primary" ng-click=delete(cont)>Delete</button></td>
                </tr>

            </tbody>
        </table>


		<div class="add-contacts container" ng-if="editContact">
        <form name="userForm" ng-submit="add(userForm.$valid)" novalidate>
            <div class="form-group" ng-class="{ 'has-error' : (userForm.firstName.$error.maxlength || userForm.firstName.$error.minlength) && !userForm.firstName.$pristine }">
                <label for="exampleFormControlInput1">First Name</label>
                <input type="text" name='firstName' class="form-control" ng-maxlength="10" ng-minlength="2" placeholder="First Name" ng-model="contact.firstName" required>
              
                <p ng-show="userForm.firstName.$error.minlength" class="help-block">firstName is too short.</p>
                <p ng-show="userForm.firstName.$error.maxlength" class="help-block">firstName is too long.</p>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : (userForm.lastName.$error.maxlength ||  userForm.lastName.$error.minlength) && !userForm.lastName.$pristine }">
                <label for="exampleFormControlInput1">Last Name </label>
                <input type="text" name='lastName' class="form-control" id="" placeholder="Last Name" ng-maxlength="10" ng-minlength="2" ng-model="contact.lastName" required>
                <p ng-show="userForm.lastName.$error.minlength" class="help-block">Last Name is too short.</p>
                <p ng-show="userForm.lastName.$error.maxlength" class="help-block">Last Name is too long.</p>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
                <label for="exampleFormControlInput1">Email address</label>
                <input type="email" name='email' class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" ng-model="contact.email" required>
                <p ng-show="userForm.email.$invalid " class="help-block">Enter a valid email.</p>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : !userForm.number.$pristine && (userForm.number.$error.minlength || userForm.number.$error.maxlength) }">
                <label for="exampleFormControlInput1">Phone Number</label>
                <input type="number" name='number' class="form-control" id="exampleFormControlInput1" ng-maxlength='10' ng-minlength='9' placeholder="123456790" ng-model="contact.phNumber" required>
                <p ng-show=" !userForm.number.$pristine && (userForm.number.$error.minlength || userForm.number.$error.maxlength)" class="help-block">Enter a valid Phone Number.</p>
            </div>
            
            <a class="btn btn-primary" type="submit" href="#/"> Back</a>
            <button class="btn btn-primary" ng-click="save()"> Save</button>
        </form>
    </div>
    </div>